.body {
  display: flex;
  justify-content: center;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
}

.searchbar {
  display: flex;
  justify-content: center;
}
.searchbar__textArea {
  width: 500px;
  height: 80px;
}
.searchbar__button {
  width: 100px;
  height: 80px;
  margin: 20px;
  border-radius: 20%;
}

.gridBooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 200px;
  width: 200px;
}
