//Colours
$primaryColour: rgb(9, 44, 9);
$secondaryColour: rgb(25, 117, 25);
$tertiaryColour: rgb(137, 1, 1);

$highlightColour: rgb(255, 243, 14);
$lightColour: rgb(233, 233, 233);

$headingColour: rgb(19, 25, 19);
$textColour: rgb(35, 10, 10);
