@import "./../../styling/typography/typography.module.scss";
@import "./../../styling/palette/palette.module.scss";

.BooksCard {
    border: 2px solid $primaryColour;
    font-family: $primaryHeading;
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        width: 300px;
        max-height: 250px;
    }
}
